# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode
.venv*

# Jupyter notebook
.ipynb_checkpoints/

# Excel temp files
~$*

# Large shapefiles
*.shp
*.prj
*.shx
*.dbf

# Folder with temp dev files
dev/

# Ecoinvent files
data/ecoinvent/*

# log files
output/log/*

# Model output files
*.pkl
*.bz2
*.sqlite
